@import "lib";

.spacer {
  padding-top: $spacing-medium;
  padding-bottom: $spacing-medium;

  @media screen and (min-width: $bp-wide) {
    padding-top: $spacing-extra-large;
    padding-bottom: $spacing-extra-large;
  }
}

.spacer--large {
  padding-top: $spacing-extra-large;
  padding-bottom: $spacing-extra-large;

  @media screen and (min-width: $bp-wide) {
    padding-top: $spacing-extra-large * 2;
    padding-bottom: $spacing-extra-large * 2;
  }
}
