@import "lib";

.introduction__heading {
  @include font-size(40px);
  margin-top: 0;

  @media screen and (min-width: $bp-medium-wide) {
    @include font-size(52px);
  }

  @media screen and (min-width: $bp-extra-wide) {
    @include font-size(64px);
  }
}

.introduction__lead {
  @include font-size(32px);
  font-weight: normal;
  margin-top: 0;

  @media screen and (min-width: $bp-medium-wide) {
    @include font-size(40px);
  }

  @media screen and (min-width: $bp-extra-wide) {
    @include font-size(48px);
  }
}

.introduction__link {
  display: inline-block;
  margin-top: $spacing-large;
}
