{
  "root": true,
  "extends": [
    "airbnb"
  ],
  "plugins": [
    "react"
  ],
  "rules": {
    "react/prop-types": 0,
    "import/prefer-default-export": 0,
    "no-param-reassign": 0,
    "react/jsx-filename-extension": 0,
    "max-len": ["error", { "code": 240 }],
    "react/destructuring-assignment": 0,
    "jsx-a11y/label-has-associated-control": 0,
    "jsx-a11y/label-has-for": 0,
    "object-curly-newline": ["error", {
      "ObjectExpression": { "minProperties": 4, "multiline": true, "consistent": true },
      "ObjectPattern": { "minProperties": 4, "multiline": true, "consistent": true },
      "ImportDeclaration": "never",
      "ExportDeclaration": "never"
    }],
    "no-underscore-dangle": 0
  },
  "env": {
    "jest": true,
    "browser": true,
    "node": true,
    "es6": true
  },
  "parser": "babel-eslint",
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
