@import "lib";

.button {
  @include font-size(16px);
  display: inline-block;
  padding: 0;
  font-family: $heading-font-family;
  position: relative;
  background-color: transparent;
  border: 2px solid $black;
  border-radius: 9999px;
  padding: $gutter * .5 $gutter;
  line-height: $gutter * 1.5;

  &:hover,
  &:focus {
    outline: none;
    background-color: $black;
    color: $white;
    cursor: pointer;
  }

  .black &,
  .blue-dark & {
    border-color: $white;
    color: $white;

    &:hover,
    &:focus {
      background-color: $white;
      color: $black;
    }
  }

  &.active {
    background-color: $black;
    color: $white;
  }
}

.button--cta {
  margin-top: $gutter * 4;
}

.button-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: baseline;

  @media screen and (min-width: $bp-medium-wide) {
    flex-direction: row;
  }

  .button {
    margin-bottom: $gutter;

    @media screen and (min-width: $bp-medium-wide) {
      margin-bottom: 0;
      margin-right: $gutter;
    }

    &:last-child {
      margin-bottom: 0;
      margin-right: 0;
    }
  }
}
