@import "lib";

.button {
  @include font-size(16px);
  display: inline-block;
  font-family: $heading-font-family;
  position: relative;
  padding: $gutter * .75 $gutter * 2;
  border: 2px solid $black;
  background-color: transparent;
  color: $black;
  border-radius: 3px;
  font-weight: 600;
  text-align: center;
  transition: all .2s ease-in-out;

  &:hover,
  &:focus {
    outline: none;
    cursor: pointer;
  }

  &--primary {
    background-color: $primary-accent-color;
    border-color: $primary-accent-color;
    color: $white;

    &:hover,
    &:focus {
      background-color: $primary-accent-color--hover;
      border-color: $primary-accent-color--hover;
      color: $white;
    }

    &.active {
      background-color: $primary-accent-color--hover;
      border-color: $primary-accent-color--hover;
    }
  }

  &--secondary {
    background-color: $secondary-accent-color;
    border-color: $secondary-accent-color;
    color: $black;

    &:hover,
    &:focus {
      background-color: $secondary-accent-color--hover;
      border-color: $secondary-accent-color--hover;
      color: $black;
    }

    &.active {
      background-color: $secondary-accent-color--hover;
      border-color: $secondary-accent-color--hover;
    }
  }
}

.button--cta {
  margin-top: $gutter * 4;
}

.button-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: baseline;

  @media screen and (min-width: $bp-medium-wide) {
    flex-direction: row;
  }

  .button {
    margin-bottom: $gutter;

    @media screen and (min-width: $bp-medium-wide) {
      margin-bottom: 0;
      margin-right: $gutter;
    }

    &:last-child {
      margin-bottom: 0;
      margin-right: 0;
    }
  }
}
