@import "lib";

.portfolio-liftup__button {
  display: table;
  margin-left: auto;
  margin-right: auto;
  margin-top: $spacing-extra-large;

  @media screen and (min-width: $bp-wide) {
    margin-top: $spacing-extra-large * 1.5;
  }
}
