@import 'lib';

.overlay-toggle {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  height: 35px;
  padding: 0;
  width: 35px;
  z-index: 20;

  svg {
    height: 100%;
    width: 100%;
  }

  &:focus {
    outline-offset: $spacing-tiny / 2;
    outline: 2px solid $color-link;
  }

  @media screen and (min-width: $bp-wide) {
    display: none;
  }
}

.overlay-menu {
  @media screen and (max-width: $bp-wide) {
    background-color: $color-white;
    height: 100%;
    margin-left: auto;
    padding: 128px $spacing $spacing $spacing;
    position: fixed;
    right: 0;
    top: 0;
    transform: translateX(100%);
    transition: transform 0.25s, visibility .25s;
    visibility: hidden;
    width: 100%;
    width: 100%;
  }

  .menu-main {
    padding-left: $spacing-tiny;

    @media screen and (min-width: $bp-small) {
      padding-left: $spacing-medium;
    }

    @media screen and (min-width: $bp-medium-wide) {
      padding-left: $spacing-large;
    }
  }

  &.is-open {
    @media screen and (max-width: $bp-wide) {
      transform: translate3d(0, 0, 0);
      visibility: visible;
    }
  }
}

.menu-main {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;

  &:not(.menu-main--footer):not(.menu-main--some) {
    @media screen and (min-width: $bp-wide) {
      align-items: center;
      flex-direction: row;
    }
  }
}

.menu-main__item {
  & + & {
    @media screen and (max-width: $bp-wide - 1px) {
      margin-top: $spacing;
    }

    @media screen and (min-width: $bp-wide) {
      margin-left: $spacing-tiny;
    }
  }

  .menu-main--footer &,
  .menu-main--some & {
    line-height: 32px;
    margin-bottom: $spacing-tiny;
    margin-left: 0;
    margin-top: 0;
  }
}

.menu-main__link {
  border-radius: 3px;
  color: $color-text;
  font-weight: 600;
  opacity: .5;
  padding: $spacing * .75 $spacing;

  @media screen and (max-width: $bp-wide - 1px) {
    @include font-size(26px);

    &:focus {
      color: $color-text;
      opacity: 1;
      outline-offset: $spacing-tiny / 2;
      outline: 2px auto $color-text;
    }
  }

  @media screen and (min-width: $bp-wide) {
    @include font-size(18px);

    &:hover,
    &:focus {
      background-color: $color-gray-2;
      color: $color-text;
      opacity: 1;
      outline: 0;
    }
  }

  &.is-active {
    opacity: 1;
  }

  .menu-main--footer &,
  .menu-main--some & {
    @include font-size(16px);
    font-weight: normal;
    margin: 0;
    opacity: 1;
    padding: 0;

    &:hover,
    &:focus {
      background-color: transparent;
      color: $color-link;
    }

    &:focus {
      outline-offset: $spacing-tiny / 2;
      outline: 2px solid $color-link;
    }

    &.is-active {
      color: $color-link;
    }
  }
}
