@import 'lib';

.post-navigation {
  padding: 0;
  margin: 0;
  list-style: none;

  @media screen and (min-width: $bp-medium-wide) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.post-navigation__item {
  margin-bottom: 0;
  margin-top: $spacing;

  @media screen and (min-width: $bp-medium-wide) {
    width: calc(100% / 2 - #{$spacing-tiny});
  }

  &:first-child {
    margin-top: 0;
  }

  &:nth-child(2) {
    @media screen and (min-width: $bp-medium-wide) {
      margin-top: 0;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }

  &--next {
    @media screen and (min-width: $bp-medium-wide) {
      margin-left: auto;
    }
  }
}

.post-navigation__link {
  background-color: $color-gray-1;
  border-radius: 6px;
  border: 1px solid $color-gray-2;
  display: flex;
  height: 100%;
  padding: $spacing;

  &:hover,
  &:focus {
    background-color: $color-gray-2;
  }
}

.post-navigation__content {
  display: flex;
  flex-direction: column;
}

.post-navigation__indicator {
  @include font-size(14px);
  align-items: center;
  color: $color-text;
  display: inline-flex;
  font-weight: bold;
  margin-bottom: $spacing-tiny;
  text-transform: uppercase;

  span {
    + svg {
      margin-left: $spacing-tiny;
    }
  }

  svg {
    height: 20px;
    width: 20px;

    + span {
      margin-left: $spacing-tiny;
    }
  }
}

.post-navigation__title {
  @include font-size(20px);
  margin: 0;
  font-weight: normal;
}
