@import "lib";

.frontpage-block {
  padding: $gutter * 6 0;
  border-bottom: 1px solid $gallery;
  display: block;

  @media screen and (min-width: $bp-wide) {
    padding: $gutter * 10 0;
  }

  &:last-child {
    border-bottom: 0;
    margin-bottom: -$gutter * 6;

    @media screen and (min-width: $bp-wide) {
      margin-bottom: -$gutter * 8;
    }
  }

  &.black {
    background-color: $black;
    color: $white;
  }

  &.blue-dark {
    background-color: $black-pearl;
    color: $white;
  }
}

.frontpage-block__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: $gutter * 6;

  @media screen and (min-width: $bp-medium-wide) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  @media screen and (min-width: $bp-wide) {
    margin-bottom: $gutter * 6;
  }

  .heading {
    @media screen and (max-width: $bp-medium-wide) {
      margin-bottom: $gutter * 2;
    }
  }
}

.frontpage-block-container {
  margin-top: -$gutter * 6;

  @media screen and (min-width: $bp-wide) {
    margin-top: -$gutter * 8;
  }
}
