@import "lib";

.frontpage-block {
	padding: $gutter * 4 0;
	border-bottom: 1px solid $concrete;
	display: block;

	&:last-child {
		border-bottom: 0;
	}
}

.frontpage-block__heading {
	margin-bottom: $gutter * 4;
}

.frontpage-block-container {
	margin-top: -$gutter * 4;
}
