@import "lib";

.hero {
	padding: $gutter * 10 0;
	margin-top: -$gutter * 2 + -72px;
	border-top: 1px solid $concrete;
	border-bottom: 1px solid $concrete;
	margin-bottom: 64px;
	background-color: $black-pearl;

	@media screen and (min-width: $bp-wide) {
		margin-top: -$gutter * 4 + -105px;
		padding: $gutter * 16 0 $gutter * 16;
	}
}

.hero__title {
	color: $white;
	@media screen and (min-width: $bp-wide) {
		@include font-size(40px);
	}
}

.hero__lead {
	color: $white;
	max-width: 700px;
	padding-right: $gutter * 2;
	font-weight: 400;
	font-family: $base-font-family;
	display: inline-block;
	line-height: 1.35;

	@media screen and (min-width: $bp-wide) {
		@include font-size(28px);
	}
}
