@import "lib";

.hero {
  background-color: $black;
}

.hero__title {
  margin-bottom: $gutter * 2;

  @media screen and (min-width: $bp-wide) {
    @include font-size(48px);
  }

  @media screen and (max-width: $bp-small) {
    @include font-size(32px);
  }
}

.hero__lead {
  font-weight: 300;
  line-height: 1.35;

  @media screen and (min-width: $bp-small) {
    @include font-size(26px);
  }

  @media screen and (min-width: $bp-wide) {
    @include font-size(32px);
  }

  @media screen and (max-width: $bp-small) {
    @include font-size(20px);
  }
}
