@import 'lib';

$container--small: 700px;
$container--medium: 900px;
$container--large: 1200px;

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: calc(#{$container--large} + calc(#{$gutter} * 3)); // 1200px
  padding: 0 $gutter * 1.5;

  @media screen and (min-width: $bp-small) {
    max-width: calc(#{$container--large} + calc(#{$gutter} * 6));
    padding: 0 $gutter * 3;
  }

  @media screen and (min-width: $bp-medium-wide) {
    max-width: calc(#{$container--large} + calc(#{$gutter} * 9));
    padding: 0 $gutter * 4.5;
  }

  &--small {
    max-width: calc(#{$container--small} + calc(#{$gutter} * 3)); // 1200px

    @media screen and (min-width: $bp-small) {
      max-width: calc(#{$container--small} + calc(#{$gutter} * 6));
    }

    @media screen and (min-width: $bp-medium-wide) {
      max-width: calc(#{$container--small} + calc(#{$gutter} * 9));
    }
  }

  &--medium {
    max-width: calc(#{$container--medium} + calc(#{$gutter} * 3)); // 1200px

    @media screen and (min-width: $bp-small) {
      max-width: calc(#{$container--medium} + calc(#{$gutter} * 6));
    }

    @media screen and (min-width: $bp-medium-wide) {
      max-width: calc(#{$container--medium} + calc(#{$gutter} * 9));
    }
  }
}

.container-fixed {
  width: 100%;

  &--small {
    max-width: $container--small;
  }

  &--medium {
    max-width: $container--medium;
  }

  &--large {
    max-width: $container--large;
  }
}
