@import 'lib';

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: $bp-extra-wide;

  &--inset {
    padding: 0 $gutter * 1.5;

    @media screen and (min-width: $bp-small) {
      padding: 0 $gutter * 3;
    }

    @media screen and (min-width: $bp-medium-wide) {
      padding: 0 $gutter * 4.5;
    }
  }

  &--small {
    max-width: $bp-medium-wide;
  }

  &--forty-sixty {
    display: grid;
    grid-row-gap: $gutter * 2;

    @media screen and (min-width: $bp-medium-wide) {
      grid-template-columns: 1fr 2fr;
      grid-row-gap: 0;
      grid-column-gap: $gutter * 2;
    }
  }
}
