@import 'lib';

$container--small: 700px;
$container--medium: 900px;
$container--large: 1400px;

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: calc(#{$container--large} + calc(#{$spacing-medium} * 2));
  padding: 0 $spacing-medium;
  width: 100%;

  @media screen and (min-width: $bp-small) {
    max-width: calc(#{$container--large} + calc(#{$spacing-large} * 2));
    padding: 0 $spacing-large;
  }

  @media screen and (min-width: $bp-medium-wide) {
    max-width: calc(#{$container--large} + calc(#{$spacing-extra-large} * 2));
    padding: 0 $spacing-extra-large;
  }

  &--small {
    max-width: calc(#{$container--small} + calc(#{$spacing-small} * 2));

    @media screen and (min-width: $bp-small) {
      max-width: calc(#{$container--small} + calc(#{$spacing-large} * 2));
    }

    @media screen and (min-width: $bp-medium-wide) {
      max-width: calc(#{$container--small} + calc(#{$spacing-extra-large} * 2));
    }
  }

  &--medium {
    max-width: calc(#{$container--medium} + calc(#{$spacing-small} * 2));

    @media screen and (min-width: $bp-small) {
      max-width: calc(#{$container--medium} + calc(#{$spacing-large} * 2));
    }

    @media screen and (min-width: $bp-medium-wide) {
      max-width: calc(#{$container--medium} + calc(#{$spacing-extra-large} * 2));
    }
  }
}

.container-fixed {
  width: 100%;

  &--small {
    max-width: $container--small;
  }

  &--medium {
    max-width: $container--medium;
  }

  &--large {
    max-width: $container--large;
  }
}
