@import "lib";

body {
  color: $color-text;
  font-family: $default-font-family;
  font-size: $base-font-size;
  font-weight: normal;
  line-height: $base-line-height;
}

a {
  color: $color-link;
  font-weight: inherit;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $color-link;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $color-black;
  font-weight: bold;
  line-height: 1.5;

  a {
    color: inherit;
    font-weight: inherit;
    text-decoration: none;
  }
}

h1,
.h1 {
  @include font-size(32px);

  @media screen and (min-width: $bp-medium-wide) {
    @include font-size(38px);
  }

  @media screen and (min-width: $bp-wide) {
    @include font-size(48px);
  }
}

h2,
.h2 {
  @include font-size(26px);

  @media screen and (min-width: $bp-medium-wide) {
    @include font-size(32px);
  }

  @media screen and (min-width: $bp-wide) {
    @include font-size(38px);
  }
}

h3,
.h3 {
  @include font-size(22px);

  @media screen and (min-width: $bp-medium-wide) {
    @include font-size(26px);
  }

  @media screen and (min-width: $bp-wide) {
    @include font-size(32px);
  }
}

h4,
.h4 {
  @include font-size(22px);

  @media screen and (min-width: $bp-medium-wide) {
    @include font-size(24px);
  }

  @media screen and (min-width: $bp-wide) {
    @include font-size(28px);
  }
}

h5,
.h5 {
  @include font-size(20px);

  @media screen and (min-width: $bp-medium-wide) {
    @include font-size(22px);
  }

  @media screen and (min-width: $bp-wide) {
    @include font-size(24px);
  }
}

strong {
  font-weight: bold;
}

p {
  @include font-size(18px);
  word-break: break-word;

  @media screen and (min-width: $bp-small) {
    @include font-size(22px);
  }

  @media screen and (min-width: $bp-medium-wide) {
    @include font-size(24px);
  }
}

ul,
ol {
  @extend p;
  list-style-position: inside;
  margin: 0;
  padding: 0;
}

blockquote {
  margin: 0 0;
  quotes: "“" "”";

  p {
    @extend .h3;
    font-weight: normal;

    &:before {
      content: open-quote;
    }

    &:after {
      content: close-quote;
    }
  }
}

pre,
code {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

code {
  @include font-size(14px);
  background-color: $color-gray-2;
  border-radius: 3px;
  padding: $spacing-tiny / 2 $spacing-tiny;

  @media screen and (min-width: $bp-small) {
    @include font-size(16px);
  }

  @media screen and (min-width: $bp-medium-wide) {
    @include font-size(18px);
  }
}
