@import "lib";

.card {
  background-color: $color-gray-1;
  border-radius: 6px;
  display: block;
  padding: $spacing;
  border: 1px solid $color-gray-2;
}

.card--experience {
  margin-left: -$spacing;
  margin-right: -$spacing;

  @media screen and (min-width: $bp-medium-wide) {
    padding: $spacing-medium;
    margin-left: -$spacing-medium;
    margin-right: -$spacing-medium;
  }
}

.card__title {
  @include font-size(18px);
  margin-bottom: $spacing-tiny;
  margin-top: 0;

  @media screen and (min-width: $bp-small) {
    @include font-size(20px);
  }

  @media screen and (min-width: $bp-medium-wide) {
    @include font-size(26px);
  }
}

.card__organization {
  @include font-size(16px);
  margin-top: 0;
  margin-bottom: $spacing-tiny;

  @media screen and (min-width: $bp-small) {
    @include font-size(18px);
  }

  @media screen and (min-width: $bp-medium-wide) {
    @include font-size(20px);
  }
}

.card__timeframe {
  @include font-size(16px);
  margin: 0;

  @media screen and (min-width: $bp-small) {
    @include font-size(18px);
  }

  @media screen and (min-width: $bp-medium-wide) {
    @include font-size(20px);
  }
}

.card__content {
  margin-bottom: 0;
  margin-top: $spacing;
  border-top: 1px solid $color-gray-3;
  padding-top: $spacing;

  @include font-size(16px);

  @media screen and (min-width: $bp-small) {
    @include font-size(18px);
  }

  @media screen and (min-width: $bp-medium-wide) {
    @include font-size(20px);
  }
}
