@import "lib";

.card-list {
  list-style: none;
}

.card-list__item {
  & + & {
    margin-top: $spacing;

    @media screen and (min-width: $bp-medium-wide) {
      margin-top: $spacing-medium;
    }
  }
}
