@import 'lib';

.filter {
  margin-bottom: $spacing-extra-large;
}

.filter__heading {
  @include font-size(20px);
  align-items: center;
  display: flex;
  margin-top: 0;

  @media screen and (min-width: $bp-small) {
    @include font-size(26px);
  }

  > svg {
    height: 30px;
    margin-right: $spacing-tiny;
    width: 30px;
  }
}

.filter-slider {
  @media screen and (max-width: $bp-wide - 1px) {
    overflow-x: scroll;
  }
}

.filter-listing {
  display: flex;

  @media screen and (max-width: $bp-wide - 1px) {
    overflow-x: visible;
  }

  @media screen and (min-width: $bp-wide) {
    flex-wrap: wrap;
  }
}

.filter__item {
  margin-right: $spacing-tiny;

  @media screen and (min-width: $bp-wide) {
    margin-bottom: $spacing-tiny;
  }
}
