@import "lib";

.listing {
	list-style: none;
	padding: 0;
	margin: 0;
}

.listing__item {
	margin-bottom: $gutter * 2;

	@media screen and (min-width: $bp-medium-wide) {
		margin-bottom: $gutter * 4;
	}

	&:last-child {
		margin-bottom: 0;
	}
}

.listing--col-2 {
	max-width: none;
	display: grid;
	grid-gap: $gutter * 2;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	grid-row-gap: $gutter * 2;

	.listing__item {
		margin-bottom: 0;
	}
}
