@import "lib";

.listing {
  list-style: none;
  padding: 0;
  margin: 0;
  max-width: none;
}

.listing__item {
  margin-bottom: $gutter * 4;

  &:last-child {
    margin-bottom: 0;
  }

  .listing--no-margin & {
    margin-bottom: 0;
  }

  .listing--spacing-large & {
    @media screen and (min-width: $bp-medium-wide) {
      margin-bottom: $spacing-large * 2;
    }
  }
}

.listing--col-2 {
  @media screen and (min-width: $bp-medium-wide) {
    display: flex;
    flex-wrap: wrap;
  }

  .listing__item {
    @media screen and (min-width: $bp-medium-wide) {
      width: calc(100% / 2 - #{$gutter});
    }

    &:nth-child(2n + 1) {
      @media screen and (min-width: $bp-medium-wide) {
        margin-right: $gutter * 2;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .listing--one-liner & {
    .listing__item {
      @media screen and (min-width: $bp-medium-wide) {
        margin-bottom: 0;
      }
    }
  }
}

.listing--col-3 {
  @media screen and (min-width: $bp-medium-wide) {
    display: flex;
    flex-wrap: wrap;
  }

  @media screen and (min-width: $bp-medium-wide) and (max-width: $bp-extra-wide) {
    justify-content: space-between;
  }

  .listing__item {
    @media screen and (min-width: $bp-medium-wide) {
      width: calc(100% / 2 - #{$gutter});
    }

    @media screen and (min-width: $bp-extra-wide) {
      width: calc(100% / 3 - calc(#{$gutter * 1.35}));
    }

    &:nth-child(3n + 2) {
      @media screen and (min-width: $bp-extra-wide) {
        margin-left: $gutter * 2;
        margin-right: $gutter * 2;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .listing--one-liner & {
    .listing__item {
      @media screen and (min-width: $bp-extra-wide) {
        margin-bottom: 0;
      }
    }
  }
}
