@import "lib";

.heading {
  margin-top: 0;
  margin-bottom: $spacing-extra-large;

  @media screen and (min-width: $bp-wide) {
    margin-bottom: $spacing-extra-large * 1.5;
  }
}

.heading--center {
  text-align: center;
}

.heading--no-margin {
  margin: 0;
}
