@import 'lib';

.header {
  padding-bottom: $spacing-medium;
  padding-top: $spacing-medium;
  width: 100%;
  z-index: 100;

  @media screen and (min-width: $bp-wide) {
    padding-bottom: $spacing-large;
    padding-top: $spacing-large;
  }
}

.header__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
