@import "lib";

.footer {
  padding-top: $gutter * 4;
  padding-bottom: $gutter * 4;
  background: linear-gradient($color-gray-1 0, $color-white 25%);

  @media screen and (min-width: $bp-wide) {
    padding-top: $gutter * 6;
    padding-bottom: $gutter * 6;
  }
}

.footer__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  @media screen and (min-width: $bp-medium-wide) {
    flex-direction: row;
  }
}

.footer__item {
  &.footer__item--first {
    width: 100%;
    margin-bottom: $spacing-medium;
    padding-bottom: $spacing-medium;
    border-bottom: 1px solid $color-gray-3;

    .footer__text {
      max-width: 700px;
    }
  }

  &:not(.footer__item--first) {
    @media screen and (min-width: $bp-medium-wide) {
      flex: 0 1 300px;
    }
  }

  &.footer__item--last {
    @media screen and (max-width: $bp-medium-wide - 1px) {
      margin-top: $spacing-medium;
      padding-top: $spacing-medium;
      border-top: 1px solid $color-gray-3;
    }
  }
}

.footer__heading {
  .footer__item:not(:first-child) & {
    margin-bottom: $spacing;
  }
}
