@import "lib";

.footer {
  background-color: $black-pearl;
  padding-top: $gutter * 8;
  padding-bottom: $gutter * 8;
}

.footer__header {
  margin-bottom: $gutter * 2;
}

.footer__heading {
  @include font-size(28px);
  margin: 0;
  text-align: center;
  color: $white;

  @media screen and (min-width: $bp-small) {
    @include font-size(32px);
  }

  @media screen and (min-width: $bp-medium) {
    @include font-size(36px);
  }

  .footer__link {
    &:hover,
    &:focus {
      color: $silver;
    }
  }
}

.footer__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__copyright {
  @include font-size(14px);
  color: $silver;
  font-family: $heading-font-family;
  margin-top: $gutter;
  text-align: center;

  @media screen and (min-width: $bp-wide) {
    @include font-size(16px);
  }
}
