@import "lib";

.footer {
  background-color: $secondary-color;
  padding-top: $gutter * 4;
  padding-bottom: $gutter * 4;
  color: $white;

  @media screen and (min-width: $bp-wide) {
    padding-top: $gutter * 6;
    padding-bottom: $gutter * 6;
  }
}

.footer__container {
  display: grid;
  grid-row-gap: $gutter * 4;
  grid-template-rows: auto;

  @media screen and (min-width: $bp-wide) {
    grid-template-rows: none;
    grid-template-columns: 2fr 1fr 1fr;
    grid-column-gap: $gutter * 4;
    grid-row-gap: 0;
  }
}

.footer__item {
  &:first-child {
    @media screen and (max-width: $bp-wide) {
      order: 2;
    }
  }

  &:last-child {
    @media screen and (max-width: $bp-wide) {
      order: 3;
    }
  }
}

.footer__heading {
  @include font-size(22px);
  margin-bottom: $gutter * 2;
  color: $white;
  padding-bottom: $gutter * .25;
  border-bottom: 3px solid $accent-color;
  display: inline-block;

  + p {
    margin-top: 0;
  }
}

.footer__text {
  p {
    @include font-size(18px);
  }
}
