@import "lib";

.menu-footer {
  list-style: none;
  padding-left: 0;
  display: flex;
  justify-content: flex-start;
  max-width: none;
}

.menu-footer__item {
  margin-bottom: 0;
  margin-right: $gutter;

  &:last-child {
    margin-right: 0;
  }
}

.menu-footer__link {
  @include font-size(14px);
  color: $silver;

  @media screen and (min-width: $bp-wide) {
    @include font-size(16px);
  }

  span {
    position: relative;

    &:after {
      content: '';
      position: absolute;
      bottom: -0.15rem;
      width: 0;
      height: 2px;
      background-color: $silver;
      left: 0;
      right: 0;
      transition: width 0.2s ease-in-out;

      @media screen and (max-width: $bp-wide) {
        background-color: $black;
      }
    }
  }

  &:focus,
  &:hover {
    color: $silver;

    span:after {
      width: 100%;
    }
  }
}
