@import "lib";

.menu-footer {
  list-style: none;
  padding-left: 0;
  display: flex;
  justify-content: flex-start;
  max-width: none;
  margin-right: $gutter;
}

.menu-footer__item {
  @include font-size(14px);
  font-family: $heading-font-family;
  margin-bottom: 0;
  margin-right: $gutter;
  line-height: 2;

  @media screen and (min-width: $bp-wide) {
    @include font-size(16px);
  }

  &:last-child {
    margin-right: 0;
  }

  .footer__link {
    color: $boulder;
  }
}
