@import "lib";

.portfolio-teaser {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
}

.portfolio-teaser__heading {
  @include font-size(20px);
  transition: inherit;

  @media screen and (min-width: $bp-small) {
    @include font-size(26px);
  }
}

.portfolio-teaser__link {
  position: relative;

  &:hover,
  &:focus {
    outline: none;

    span:after {
      width: 100%;
    }
  }

  span {
    &:after {
      content: '';
      position: absolute;
      bottom: -0.35rem;
      width: 0;
      height: 2px;
      background-color: $black;
      left: 0;
      right: 0;
      transition: width 0.2s ease-in-out;
    }
  }
}

.portfolio-teaser__content {
  padding: $gutter * 2 $gutter 0 0;
  position: relative;
  margin-bottom: auto;
  width: 100%;
}

.portfolio-teaser__lead {
  @include font-size(16px);
  margin-bottom: 0;
  max-width: 400px;
  color: $scorpion;
  transition: color 0.25s ease-in-out;
}

.portfolio-teaser__image {
  width: 100%;
}

.portfolio-teaser__container {
  position: relative;
}

.portfolio-teaser__overlay {
  position: absolute;
  background: rgba($black, .95);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all .2s ease-in-out;
  visibility: hidden;
}

.portfolio-teaser__icon {
  width: $gutter * 3;
}

.portfolio-teaser__date {
  @include font-size(14px);
  color: $scorpion;
  position: absolute;
  top: $gutter * .5;
  right: 0;
}
