@import "lib";

.portfolio-teaser {
	&:hover,
	&:focus {
		.portfolio-teaser__heading {
			span {
				&:after {
					width: 100%;
				}
			}
		}

		.portfolio-teaser__lead {
			color: $black;
		}
	}
}

.portfolio-teaser__link {
	position: relative;
	display: block;
}

.portfolio-teaser__heading {
	@include font-size(20px);
	margin: 0;

	@media screen and (min-width: $bp-small) {
		@include font-size(26px);
	}

	span {
		position: relative;
		&:after {
			content: '';
			position: absolute;
			bottom: -.3rem;
			width: 0;
			height: 3px;
			background-color: $black;
			left: 0;
			right: 0;
			transition: width 0.25s ease-in-out;
		}
	}
}

.portfolio-teaser__content {
	padding: $gutter * 2 $gutter 0 0;
	position: relative;
}

.portfolio-teaser__lead {
	@include font-size(16px);
	margin-bottom: 0;
	max-width: 400px;
	color: $silver;
	transition: color 0.25s ease-in-out;
}

.portfolio-teaser__image {
	width: 100%;
}

.portfolio-teaser__date {
	@include font-size(14px);
	color: $silver;
	position: absolute;
	top: $gutter * .5;
	right: 0;
}
