@import "lib";

.blog-teaser__image {
  border-radius: 6px;
  margin-bottom: $spacing-medium;
  width: 100%;
}

.blog-teaser__heading {
  @include font-size(26px);
  line-height: normal;
  margin-bottom: $spacing;
  line-height: 1.4;
}

.blog-teaser__lead {
  @include font-size(18px);
}
