@import "lib";

.blog-teaser {
  border-radius: 6px;
  overflow: hidden;
  height: 100%;
  transition: opacity .25s;

  .black & {
    .blog-teaser__heading {
      color: $white;
    }
  }

  .blue-dark & {
    border: 0;

    .blog-teaser__link {
      &:hover,
      &:focus {
        color: $white;
      }
    }

    .blog-teaser__heading {
      color: $white;
    }

    .blog-teaser__published,
    .blog-teaser__lead {
      color: $silver;
    }
  }

  &:hover,
  &:focus {
    cursor: pointer;

    .blog-teaser__heading,
    .blog-teaser__published,
    .blog-teaser__lead {
      opacity: .25;
    }
  }
}

.blog-teaser__published {
  @include font-size(18px);
  color: $scorpion;
  transition: inherit;
}

.blog-teaser__heading {
  @include font-size(20px);
  transition: inherit;

  @media screen and (min-width: $bp-small) {
    @include font-size(26px);
  }
}

.blog-teaser__lead {
  @include font-size(20px);
  transition: inherit;
  margin-top: $gutter;
  margin-bottom: 0;
  font-weight: 400;
  color: $scorpion;
}

.blog-teaser__container {
  position: relative;
}

.blog-teaser__image {
  width: 100%;
}

.blog-teaser__icon {
  width: $gutter * 3;
}
