@import "lib";

.portfolio__content {
  margin-bottom: $spacing-large;

  + .button-container {
    margin-bottom: $spacing;
  }

  * {
    + h2 {
      margin-top: $spacing-medium;
    }

    + h3 {
      margin-top: $spacing-medium;
    }

    + h4 {
      margin-top: $spacing-medium;
    }
  }

  h2 {
    @include font-size(24px);
    line-height: 2rem;
    margin-bottom: $spacing-medium;

    @media screen and (min-width: $bp-medium-wide) {
      @include font-size(32px);
      line-height: 2.5rem;
    }

    @media screen and (min-width: $bp-extra-wide) {
      @include font-size(40px);
      line-height: 3rem;
    }
  }

  h3 {
    @include font-size(24px);
    line-height: 2rem;
    margin-bottom: $spacing-medium;

    @media screen and (min-width: $bp-medium-wide) {
      @include font-size(28px);
      line-height: 2.25rem;
    }

    @media screen and (min-width: $bp-extra-wide) {
      @include font-size(32px);
      line-height: 2.5rem;
    }
  }

  h4 {
    @include font-size(20px);
    line-height: 1.75rem;
    margin-bottom: $spacing-medium;

    @media screen and (min-width: $bp-medium-wide) {
      @include font-size(22px);
      line-height: 1.875rem;
    }

    @media screen and (min-width: $bp-extra-wide) {
      @include font-size(24px);
      line-height: 2rem;
    }
  }
}

.portfolio__showcase {
  background-color: $color-gray-4;
}

.portfolio__showcase-image {
  width: 100%;
}
