@import "lib";

.portfolio__content {
  > h2:first-child {
    @include font-size(24px);
    margin-bottom: $gutter * 2;

    @media screen and (min-width: $bp-medium) {
      @include font-size(32px);
    }
  }
}

.portfolio__showcase {
  margin-top: $gutter * 4;
  margin-bottom: -$gutter * 6;
  background-color: $concrete;
  padding: 64px 0;
  display: flex;
  justify-content: center;
  border-top: 1px solid $concrete;

  @media screen and (min-width: $bp-wide) {
    margin-bottom: -$gutter * 8;
  }
}

.portfolio__showcase-image {
  width: 100%;
  box-shadow: 0 2px 4px rgba(19, 19, 19, .15);
}
