@import "lib";

.snippet-teaser {
  background-color: $color-gray-1;
  border-radius: 6px;
  border: 1px solid $color-gray-2;
  overflow: hidden;
}

.snippet-teaser__link {
  display: block;
  padding: $spacing-medium;

  &:hover,
  &:focus {
    background-color: $color-gray-2;
  }
}

.snippet-teaser__heading {
  @include font-size(26px);
  margin-top: 0;
}

.snippet-teaser__description {
  @include font-size(18px);
  color: $color-text;
}

.snippet-teaser__details {
  list-style: none;
}

.snippet-teaser__detail {
  span {
    @include font-size(18px);
    align-items: center;
    color: $color-text;
    display: flex;

    svg {
      height: 25px;
      margin-right: $spacing-tiny;
      width: 25px;
    }
  }
}
