@import "lib";

.pager {
  align-items: center;
  display: flex;
  justify-content: center;
  list-style: none;
}

.pager__item {
  & + & {
    margin-left: $spacing;

    @media screen and (max-width: $bp-tiny) {
      margin-left: $spacing-tiny;
    }
  }

  &[data-is-current-page=false] {
    @media screen and (max-width: $bp-medium-wide - 1px) {
      display: none;
      visibility: hidden;
    }
  }
}

.pager__link {
  @include font-size(16px);
  align-items: center;
  background-color: $color-gray-2;
  border-radius: 100%;
  color: $color-text;
  cursor: not-allowed;
  display: flex;
  font-weight: 600;
  height: 50px;
  justify-content: center;
  opacity: .5;
  width: 50px;

  svg {
    height: 25px;
    width: 25px;
  }

  &[href] {
    cursor: pointer;
    opacity: 1;

    &:hover,
    &:focus {
      background-color: $color-link;
      color: $color-white;

      svg {
        fill: $color-white;
      }
    }
  }

  &.is-active {
    background-color: $color-link;
    color: $color-white;
    opacity: 1;
  }

  @media screen and (max-width: $bp-tiny) {
    @include font-size(14px);
    height: 40px;
    width: 40px;
  }
}
